*{
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    background-color: #F5F5F7;
    display: flex;
    height: 100vh;  
    gap: 500px;  
}
main{
    *{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .container{
        margin-left: 150px;
    }
    .mainH2{
        font-size: 40px;
        margin-top: 100px;

      }
    label{
        font-size: 25px;        
    }
    form p{
        text-align: right;   
    }
    input{
        width: 450px;
        border: none;               
        border-bottom: 1.5px solid #000; 
        outline: none;     
        background-color: transparent;    
        margin-bottom: 20px;  
        font-size: 20px;  
    }
    .esqSenha{
        cursor: pointer;
    }
    button{
        width: 450px;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;  
        color: white;
        border-style: none;
        background-color: #121212;
        cursor: pointer;
    }
    button a{
        color: white;
    }
    .redesSociais{
        margin-top: 50px;
        text-align: center; 
        padding: 20px;     
        p{
            color: #8e8e8e;
            font-size: 18px;
        }
    }
    a{
        text-decoration: none;
        color: #8e8e8e;
        font-size: 18px;
        
    }
}
aside {
    background-color: #212121;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;     
    align-items: flex-start;   
    justify-content: center;    
    padding: 20px;
    color: white; 
    p,h1{
        
        margin-left: 50px;
    }             
}

aside img {
    margin: 0 auto;           
    display: block;
    width: 600px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden {
    display: none;
}

.modal {
    background: white;
    padding: 25px;
    border-radius: 18px;
    width: 500px;
}
.form_esc{
    label{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;    
    }
    input{
        width: 500px;
        border: none;               
        border-bottom: 1.5px solid #000; 
        outline: none;     
        background-color: transparent;    
        margin-bottom: 20px;  
        font-size: 15px;      
    }
    button{
        font-size: 15px;
        height: 30px;
        cursor: pointer;
        border-radius: 10px;
        
    }
    .btn_voltar{
        background-color: transparent;
        border-style: solid;
    }
    .btn_cad{
        background-color: black;
        color: white;
        border-style: solid;
        margin-left: 340px;
    }
}
.progresso_bar{
    display: flex;
    align-items: center; 
    gap: 10px; 
    justify-content: center;
    font-size: 15px;
    button{
        border-radius: 100px;
        width: 30px;
        height: 30px;
        color: #00000067;
        background-color: transparent;
        border-style: solid;
    }
    .ativo{
        background-color: #000000;
        color: white;
    }
    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: #1D8841;
        border-style: none;
    }
    
     .check img {
        width: 16px;  
        height: 16px;
        display: block;
    }
    
}
