* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 50px;
}

header {
    display: flex;
    align-items: center;

    img {
        width: 48px;
    }

    span {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
    }
}

main {


    p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;

    }

}

section {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    column-gap: 80px;
    row-gap: 20px;
    margin-left: 40px;

    button {
        border-radius: 7px;
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #262626;
        background-color: transparent;
        border-width: 0.1cap;
        cursor: pointer;
    }
}

section button {
    flex: 0 1 calc(15.00% - 12px);
    justify-content: center;
    gap: 6px;
}

footer {
    button {
        border-radius: 15px;
        height: 50px;
        cursor: pointer;
    }
}

.btn_voltar {
    width: 80px;
    background-color: transparent;

}

.btn_cont {
    width: 120px;
    background-color: black;
    color: white;
    margin-left: 1900px;
}