<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Avalie sua Experiência</title>
    <link rel="stylesheet" th:href="@{/css/descricao.css}">
</head>
<body>

<body>


<main>
    <div class="topo">
        <div class="titulo_topo">
            <h1 th:text="${imovel.titulo}"></h1>
        </div>
        <div class="info_topo">
            <p
                    th:text="${imovel.endereco != null ? imovel.endereco.cidade + ', ' + imovel.endereco.estado : 'Local não informado'}">
            </p>
        </div>
    </div>

    <div class="fotos">
        <div class="galeria">
            <img th:each="img : ${imovel.imagens}" th:src="@{/uploads/{arquivo}(arquivo=${img.caminho})}"
                 alt="Imagem do imóvel">
        </div>
    </div>
    <p class="titulo" th:text="${imovel.titulo}"></p>
    <div class="descricao">

        <p th:text="${imovel.qtdHospede == 1
    ? '1 hóspede • ' + imovel.qtdBanheiros + ' banheiros'
    : imovel.qtdHospede + ' hóspedes • ' + imovel.qtdBanheiros + ' banheiros'}">
        </p>


        <p th:text="${imovel.descricaoCompleta}"></p>

    </div>
    <h4>Horário Check In:</h4>
    <p th:text="${imovel.checkIn}"></p>
    <h4>Horário Check Out:</h4>
    <p th:text="${imovel.checkOut}"></p>
    <p class="titulo"> O que esse lugar oferece </p>
    <div class="secao_inferior">

        <div class="lista">
            <label th:each="c : ${imovel.comodidade}">
                <img th:src="@{/uploads/{img}(img=${c.icone })}" alt="Ícone" width="40">
                <span th:text="${c.nome}"></span>
            </label>
        </div>

        <div class="reserva_lateral">
            <div class="card-avaliacao">

                <h3 th:text="${imovel.titulo}">Nome do Imóvel</h3>

                <form th:action="@{/reservas/salvarAvaliacao}" method="post">

                    <input type="hidden" name="imovelId" th:value="${imovel.id}">

                    <div class="estrelas">

                        <input type="radio" name="nota" id="estrela1" value="1">
                        <label for="estrela1">★</label>

                        <input type="radio" name="nota" id="estrela2" value="2">
                        <label for="estrela2">★</label>

                        <input type="radio" name="nota" id="estrela3" value="3">
                        <label for="estrela3">★</label>

                        <input type="radio" name="nota" id="estrela4" value="4">
                        <label for="estrela4">★</label>

                        <input type="radio" name="nota" id="estrela5" value="5">
                        <label for="estrela5">★</label>

                    </div>

                    <textarea name="comentario" placeholder="Deixe um comentário..." required></textarea>

                    <button type="submit">Enviar Avaliação</button>

                </form>
            </div>
        </div>

    </div>

</main>
</body>

</body>
</html>
