<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Relatório - Imóveis Mais Lucrativos</title>

    <style>
        body { font-family: Arial; }
        h1 { text-align: center; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #000; padding: 8px; }
        th { background-color: #f2f2f2; }
        .ranking {
            font-weight: bold;
        }
    </style>
</head>

<body>

<h1>Be My Stay</h1>
<hr/>

<h1>Relatório de Imóveis Cadastrados</h1>
<hr/>



<div class="box">
    <p>
        Período:
        <span th:text="${#temporals.format(inicio, 'dd/MM/yyyy')}"></span>
        até
        <span th:text="${#temporals.format(fim, 'dd/MM/yyyy')}"></span>
    </p>

    <p>
        Total de imóveis cadastrados no último mês:
        <strong th:text="${quantidade}"></strong>
    </p>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Data Cadastro</th>
        <th>Preço Diária</th>
    </tr>

    <tr th:each="i : ${imoveis}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.titulo}"></td>
        <td th:text="${#temporals.format(i.dataCadastro, 'dd/MM/yyyy HH:mm')}"></td>
        <td th:text="${'R$ ' + i.precoDiaria}"></td>
    </tr>
</table>
</body>
</html>