<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Relatórios | Be my Stay Administradores</title>

    <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
    <link rel="stylesheet" th:href="@{/css/listagem.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
</head>

<body>

<div th:replace="admin/inicio :: aside"></div>

<nav>
    <h2>Relatórios</h2>

    <div class="containers">

        <a href="/relatorios/reservasTotal">
            <div class="container">
                <h4>Total de reservas</h4>
            </div>
        </a>

        <a href="/relatorios/imovelLucrativo" >
            <div class="container">
                <h4>Imóveis cadastrados no ultimo mês
                </h4>
            </div>
        </a>


        <a href="/relatorios/" >
            <div class="container">
                <h4>Imóveis cadastrados no ultimo mês
                </h4>
            </div>
        </a>

        <div class="container">
            <h4>Usuário com mais reservas</h4>
        </div>
    </div>
</nav>

</body>
</html>
