<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar | Be my Stay Administradores</title>

    <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
    <link rel="stylesheet" th:href="@{/css/editar_criar.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>

<body>
<div th:replace="usuarios/telaAdmin :: aside"></div>
<h2>Editar</h2>
<main>
    <form th:action="@{/usuarios/salvarEdicao/{id}(id=${usuario.id})}" th:object="${usuario}" method="post">
        <label>Nome</label> <br>
        <input type="text" th:field="*{nome}">
        <label>Email</label> <br>
        <input type="text" th:field="*{email}">

        <button type="submit">Salvar</button>
    </form>
</main>
</body>

</html>