<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar | Be my Stay Administradores</title>

    <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>

<body>
<header>
    <img th:src="@{/assets/logo.png}">
    <span>Be my stay</span>

    <div class="esquerdo">

        <a th:if="${temImovel}" href="/usuarios/anfitriao">
            <button>Sua conta de anfitrião</button>
        </a>

        <a th:unless="${temImovel}" href="/imovel/criar">
            <button>Seja anfitrião</button>
        </a>

        <a class="perfil" href="">
            <Button><img src="pesquisar.png" alt="">Sua Conta</Button>
        </a>
    </div>
</header>

<main>
    <label th:each=" i : ${imoveis}">

        <div class="carrosel">
            <div class="slides">
                <img class="img" th:each="img, stat : ${i.imagens}" th:src="@{/uploads/{path}(path=${img.caminho})}"
                     th:classappend="${stat.index == 0} ? ' active'">
            </div>

            <button class="prev">‹</button>
            <button class="next">›</button>
        </div>


        <a th:href="@{/imovel/mostrarDescricao/{id}(id=${i.id})}">
            <div class="descricao">
                <p class="titulo" th:text="${i.titulo}"></p>
                <p class="local"
                   th:text="${i.endereco != null ? i.endereco.cidade + ', ' + i.endereco.estado : 'Local não informado'}">
                </p>
                <div class="diaria">
                    <p class="preco">R$</p>
                    <p th:text="${i.precoDiaria}"></p>
                    <p>por noite</p>
                </div>
            </div>
        </a>
    </label>
</main>
<script>
    document.querySelectorAll('.carrosel').forEach(carrosel => {
        const imgs = carrosel.querySelectorAll('.slides img');
        const prev = carrosel.querySelector('.prev');
        const next = carrosel.querySelector('.next');

        let index = 0;

        function showImage(i) {
            imgs.forEach(img => img.classList.remove('active'));
            imgs[i].classList.add('active');
        }

        prev.addEventListener('click', () => {
            index = (index - 1 + imgs.length) % imgs.length;
            showImage(index);
        });

        next.addEventListener('click', () => {
            index = (index + 1) % imgs.length;
            showImage(index);
        });
    });
</script>

</body>

</html>