<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Be my Stay</title>
    <link rel="stylesheet" th:href="@{/css/loginUsuarios.css}">
    <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>

<body>
<main>
    <img th:src="@{/assets/Logo.png}" alt="Logo">
    <div class="container">
        <form th:action="@{/usuarios/login}" method="post">
            <h2 class="mainH2">Login</h2>
            <label for="">Email</label> <br>
            <input type="email" name="email" required> <br>
            <label for="">Senha</label> <br>
            <input type="password" name="senhaHash" required> <br>
            <p class="esqSenha"> <a href="#">Esqueceu sua Senha?</a></p>
            <button>Entrar</button>
            <p th:if="${erro}" th:text="${erro}" style="color:red"></p>
        </form>
        <div class="redesSociais">
            <p>ou continue com</p>

            <a href="https://www.google.com/">
                <img th:src="@{/assets/google.png}" alt="">
            </a>

            <a href="https://pt-br.facebook.com/">
                <img th:src="@{/assets/facebook.png}" alt="">
            </a>

            <a href="https://www.apple.com/">
                <img th:src="@{/assets/apple.png}" alt="">
            </a>
        </div>
        <a th:href="@{/login}" class="alogin">
            Já possui uma conta? Faça o seu Login aqui.
        </a>
    </div>
</main>
<aside>
    <img  th:src="@{/assets/icone_visual_login.png}" alt="">
    <h1 class="asideH1">Be my stay</h1>
    <p class="asideP">Conectando você à sua próxima estadia</p>
</aside>
</body>

</html>