<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Tela Inicial | Be my Stay Administradores</title>

  <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
  <link rel="stylesheet" th:href="@{/css/listagem.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

<div th:replace="admin/inicio :: aside"></div>

<nav>
  <h2>Tipos de Lugares </h2>

  <div class="containers">
    <div class="container">
      <h4>Total</h4>
      <hr>
      <p th:text="${contarTotal}"></p>
    </div>

    <div class="container">
      <h4>Ativos</h4>
      <hr>
      <p th:text="${ativos}"></p>
    </div>

    <div class="container">
      <h4>Inativos</h4>
      <hr>
      <p th:text="${inativos}"></p>
    </div>
  </div>
</nav>
<main>
  <a class="aux" href="/tipolugar/criar">Criar <img th:src="@{/assets/add.png}"></a> <br>
  <a class="aux" href="/tipolugar/listarInativas">Restaurar <img th:src="@{/assets/restore-bin.png}"></a>
  <table class="tabela">
    <thead>
    <tr>
      <th>ID</th>
      <th>Icone</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Editar</th>
      <th>Desativar</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="l : ${tipo_lugar}">

      <td th:text="${l.id}"></td>

      <td>
        <img th:src="@{/uploads/{img}(img=${l.icone})}" alt="Ícone" width="40">
      </td>

      <td th:text="${l.titulo}"></td>

      <td th:text="${l.descricao}"></td>

      <td>
        <a th:href="@{/tipolugar/editar/{id}(id=${l.id})}">
          <img th:src="@{/assets/file-edit.png}" alt="Editar">
        </a>
      </td>
      <td>
        <form th:action="@{/tipolugar/deletar/{id}(id=${l.id})}" method="post">
          <button type="submit">
            <img th:src="@{/assets/file-remove.png}" alt="Excluir">
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

</main>

</body>

</html>