<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/comodidades/nova">Adicionar</a>



    <div class="card" th:each="c : ${comodidades}">
        <img th:src="@{/uploads/{img}(img=${c.icone})}" alt="Ícone">
        <h3 th:text="${c.nome}"></h3>

        <form th:action="@{/comodidades/deletar/{id}(id=${c.id})}" method="post">
            <button type="submit"><img th:src="@{/assets/file-remove.png}" alt="deletar"></button>
        </form>

        <a th:href="@{/comodidades/editar/{id}(id=${c.id})}">
            <img th:src="@{/assets/file-edit.png}" alt="editar">
        </a>


    </div>

</body>
</html>