<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/comodidades/listar">Voltar</a>

<div class="card" th:each="c : ${comodidades}">
    <img th:src="@{/uploads/{img}(img=${c.icone})}" alt="Ícone">
    <h3 th:text="${c.nome}"></h3>
    <form th:action="@{/comodidades/restaurar/{id}(id=${c.id})}" method="post">
        <button type="submit" class="btn-icon">
            <img th:src="@{/assets/restore-bin.png}" alt="Restaurar">
        </button>
    </form>

</div>

</body>
</html>