<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>

<form th:action="@{/usuarios/cadastrar}"
      th:object="${usuario}"
      method="post">

    <h2 class="mainH2">Cadastro</h2>

    <label>Nome</label><br>
    <input type="text" th:field="*{nome}" required><br>

    <label>Email</label><br>
    <input type="email" th:field="*{email}" required><br>

    <label>Senha</label><br>
    <input type="password" th:field="*{senhaHash}" required><br>

    <label>Username</label><br>
    <input type="text" th:field="*{userName}" required><br>

    <label>Número de Celular</label><br>
    <input type="text" th:field="*{telefone}"><br>

    <label>CPF</label><br>
    <input type="text" th:field="*{cpf}"><br>

    <label>Data de nascimento</label><br>
    <input type="date" th:field="*{dataNasc}"><br>

    <button type="submit" id="continuar_btn">Continuar</button>

</form>

</body>
</html>
