<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Check-In | Be my Stay Administradores</title>

  <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
  <link rel="stylesheet" th:href="@{/css/listagem.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

<div th:replace="admin/inicio :: aside"></div>

<nav>
  <h2>Check-In</h2>

  <div class="containers">
    <div class="container">
      <h4>Moderadores</h4>
      <hr>
    </div>

    <div class="container">
      <h4>Moderadores Ativos</h4>
      <hr>
    </div>

    <div class="container">
      <h4>Moderadores Inativos</h4>
      <hr>
    </div>
  </div>
</nav>

<main>
  <a class="aux" href="/checkin/criar">Criar <img th:src="@{/assets/add.png}"></a> <br>
  <a class="aux" href="/checkin/listarInativas">Restaurar <img th:src="@{/assets/restore-bin.png}"></a>


  <table class="tabela">
    <thead>
    <tr>
      <th>ID</th>
      <th>Ícone</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Editar</th>
      <th>Desativar</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${checkin}">

      <td th:text="${c.id}"></td>
      <td>
        <img th:src="@{/uploads/{img}(img=${c.icone})}" alt="Ícone" width="40">
      </td>

      <td th:text="${c.titulo}"></td>

      <td th:text="${c.descricao}"></td>


      <td>
        <a th:href="@{/checkin/editar/{id}(id=${c.id})}">
          <img th:src="@{/assets/file-edit.png}" alt="Editar">
        </a>
      </td>

      <td>
        <form th:action="@{/checkin/deletar/{id}(id=${c.id})}" method="post">
          <button type="submit">
            <img th:src="@{/assets/file-remove.png}" alt="Excluir">
          </button>
        </form>
      </td>

    </tr>
    </tbody>
  </table>

</main>

</body>

</html>