
<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar | Be my Stay</title>

  <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
  <link rel="stylesheet" th:href="@{/css/editar_criar.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>

<div th:replace="anfitriao/anfitriao :: aside"></div>

<h2>Editar</h2>
<main>
  <form th:action="@{/imovel/salvarEdicaoAnfitriao/{id}(id=${imovel.id})}"
        th:object="${imovel}"
        method="post">
    <label>Coloque o Título</label> <br>
    <input type="text" th:field="*{titulo}"> <br>

    <label>Coloque a Descrição</label> <br>
    <textarea th:field="*{descricaoCompleta}"
              rows="6"
              required></textarea> <br>

    <label>Coloque  o Preço da diária</label> <br>
    <input type="number" th:field="*{precoDiaria}" step="0.01" min="0"> <br>

    <label>Check-in</label> <br>
    <input type="time" th:field="*{entregaChaves}" name="entregaChaves" > <br>

    <label>Check-out</label> <br>
    <input type="time" th:field="*{checkOut}" name="checkOut" > <br>

    <label>Coloque a Quantidade de Hóspedes</label> <br>
    <input type="number" th:field="*{qtdHospede}"> <br>

    <label>Coloque a Quantidade de Banheiros</label> <br>
    <input type="number" th:field="*{qtdBanheiros}"> <br>

    <label>Coloque a Quantidade de Quartos</label> <br>
    <input type="number" th:field="*{qtdQuartos}"> <br>

    <label>Coloque a Quantidade de Camas</label> <br>
    <input type="number" th:field="*{qtdCamas}"> <br>

    <div th:each="c : ${comodidades}">
      <label>
        <input type="checkbox"
               th:field="*{comodidade}"
               th:value="${c.id}"
               th:checked="${imovel.comodidade.contains(c)}">
        <img th:src="@{/uploads/{img}(img=${c.icone})}"
             alt="Ícone"
             width="40">
        <span th:text="${c.nome}"></span>
      </label>
    </div>

    <button type="submit">Salvar</button>
  </form>
</main>
</body>
</html>