* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    display: flex;
}

aside {
    background-color: #242424;
    height: 100vh;
    width: 300px;

    a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
        text-decoration: none;
        color: white;
        border-radius: 8px;
        cursor: pointer;
    }

    a img {
        width: 40px;
        height: 40px;
    }

    h1 {
        color: white;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .pMenu {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: white;
        font-size: x-large;
    }

}

main {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 300px;
    margin-left: 200px;
}

button {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    color: white;
    border-style: none;
    background-color: #121212;
    cursor: pointer;
    font-size: 15px;
}