*{
    font-family: "Poppins", sans-serif;

}
body{
    background-color: #ffffff;
}
header{
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
    margin-top: 10px;
}
main{
    margin-left: 35px;
    margin-top: 35px;

}

.textos {
    display: flex;
    flex-direction: column;
}

.descricao {
    font-size: 13px;
    color: #777;
}

.lista input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.lista label:has(input:checked) {
    border: 2px solid #000;
    background: #fff;
}
.lista label {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

}
.lista span {
    font-size: 15px;
    color: #333;
}


.lista{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    width: 400px;
}
button{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 50px;
    margin-top: 500px;
    font-size: 18px;
    cursor: pointer;
}


