*{
    font-family: "Poppins", sans-serif;

}
body{
    background-color: #ffffff;
}
header{
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
    margin-top: 10px;
}
main{
    margin-left: 35px;
    margin-top: 35px;
}
.lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 14px;
    margin-top: 30px;
}


.lista label {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    cursor: pointer;
}

.lista input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.lista input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.lista label:has(input:checked) {
    border: 2px solid #000;
    background: #fff;
}

.lista span {
    font-size: 15px;
    color: #333;
}

button{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 50px;
    margin-top: 500px;
    font-size: 18px;
    cursor: pointer;
}



