* {
    font-family: "Poppins", sans-serif;

}

body {
    background-color: #ffffff;

}
.fotos {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.galeria {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.galeria img:first-child {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
}

.titulo{
    font-size: 25px;
    font-weight: 600;
}
.lista {
    display: grid;
    grid-template-columns: repeat(1, 200px);
}
.lista label {
    border-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    cursor: pointer;
}
.lista span {
    font-size: 15px;
    color: #333;
}
.secao_inferior {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-top: 30px;
}

.lista {
    flex: 2;
}

.reserva_lateral {
    flex: 1;
    position: sticky;
    margin-left: -800px;
    top: 20px;
}
.card_reserva {
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    background-color: white;
}

.card_conteudo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.diaria_texto {
    font-size: 22px;
    font-weight: bold;
}

.linha_datas {
    display: flex;
}

.campo {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.campo input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn_reservar {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.btn_reservar:hover {
    background-color: #2b2b2b;
}

.erro {
    color: red;
}