*{
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    display: flex;
}

aside{
    background-color: #242424;
    min-height: 100vh;
    width: 300px;
    a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
        text-decoration: none;
        color: white;
        border-radius: 8px;
        cursor: pointer;
    }

    a img {
        width: 40px;
        height: 40px;
    }

    h1{
        color: white;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .pMenu{
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: white;
        font-size: x-large;
    }

}
.aux{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color:black;
    font-size:25px;
}
main{
    margin-top: 200px;
    margin-left: 100px;
}
label{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color:black;
    font-size:20px;
}
input{
    width: 200px;
}
button{
    margin-top: 20px;
    border-radius: 15px;
    border-style: none;
    background-color: black;
    color: white;
    height: 35px;
    width: 70px;
    cursor: pointer;
}