* {
    font-family: "Poppins", sans-serif;

}

body {
    background-color: #ffffff;

}

header {
    display: flex;
}

.esquerdo {
    margin-left: 600px;
    display: flex;
    gap: 50px;
}

.criar {
    text-decoration: none;
    color: black;
}

.perfil {
    button {
        border-radius: 20px;
        border-style: solid;
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

* {
    font-family: "Poppins", sans-serif;

}

body {
    background-color: #ffffff;

}

main {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    column-gap: 50px;
    row-gap: 15px;
    justify-content: center;


    .img {
        background-color: blue;
        width: 250px;
        height: 200px;
        border-radius: 10px;

    }

    .titulo {
        font-weight: bold;
    }

    .preco {
        font-weight: bold;
    }

    .diaria {
        display: flex;
        gap: 5px;
    }

    .descricao p {
        margin: 0;
    }


}