*{
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    background-color: #F5F5F7;
    display: flex;
    height: 100vh;  
    gap: 500px; 
     
}
main{
    *{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        
    }
    .container{
        margin-left: 150px;
    }
    .mainH2{
        font-size: 30px;
        margin-top: 100px;

      }
    label{
        font-size: 22px;        
    }
    form p{
        text-align: right;   
    }
    input{
        width: 420px;
        border: none;               
        border-bottom: 1.5px solid #000; 
        outline: none;     
        background-color: transparent;    
        margin-bottom: 20px;  
        font-size: 20px;  
    }
    .esqSenha{
        cursor: pointer;
    }
    button{
        width: 430px;
        height: 50px;
        border-radius: 30px;
        font-size: 20px;  
        color: white;
        border-style: none;
        background-color: #121212;
        cursor: pointer;
    }
    button a{
        color: white;
    }
    .redesSociais{
        margin-top: 0px;
        text-align: center; 
        padding: 20px;     
        p{
            color: #8e8e8e;
            font-size: 17px;
            text-align: center;
        }
    }
    a{
        text-decoration: none;
        color: #8e8e8e;
        font-size: 17px;
        
    }
    .alogin{
        margin-left: 12px;
    }
}
aside {
    background-color: #212121;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;     
    align-items: flex-start;   
    justify-content: center;    
    padding: 20px;
    color: white; 
    p,h1{
        
        margin-left: 50px;
    }             
}

aside img {
    margin: 0 auto;           
    display: block;
    width: 600px;
}

