*{
    font-family: "Poppins", sans-serif ;
}
header{
    display: flex;
    align-items: center;  
    justify-content: center;
    
    img{
        width: 48px;   
    }

    span{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal; 
        font-size: 40px;   
    }
    a{
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: black;
    }
    button{
        display: flex;
        align-items: center;  
        justify-content: center;
        gap: 10px;   
        border-style: none;
        border-radius: 50px;
        height: 70px;
        width: 160px;
        background-color: black;
        a{
            font-size: 15px;
            color: white;
        }
    }
}
.header_direita, .header_esquerda{
    display: flex;
    align-items: center;  
    justify-content: center;       
}

.header_direita{
    margin-left: 1500px;
}
input:first-child{
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}
input{
    border-left: none;
    border-right: none;
    height: 50px;
}
input:last-of-type{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
 }

 .img_imovel{
    background-color: rgb(182, 182, 182);
    width: 250px;
    height: 250px;
    border-radius: 10px;
 }
 .coracao{
    margin-left: 220px;
    margin-top: 5px;    
 }
 .titulo_im{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 20px;    
 }
 .aval_im{
    display: flex;
    
      
 }
