
<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar | Be my Stay Administradores</title>

    <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
    <link rel="stylesheet" th:href="@{/css/addImovel.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>
<body>
<header>

    <img th:src="@{/assets/logo.png}">
    <span>Be my stay</span>
</header>
<main>
    <p>Que tipo de acomodação os hóspedes vão ter</p>
    <form th:action="@{/imovel/salvarLugar}" method="post">

        <div class="lista">
            <label th:each="l : ${tipolugar}">
                <input
                        type="radio"
                        name="idTLugar"
                        th:value="${l.id}"
                        required>
                <img th:src="@{/uploads/{img}(img=${l.icone})}"
                     alt="Ícone"
                     width="40">
                <div class="textos">
                    <span th:text="${l.titulo}"></span>
                    <span class="descricao" th:text="${l.descricao}"></span>
                </div>
            </label>
        </div>
        <button type="submit">Continuar</button>

    </form>

</main>

</body>
</html>