<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar | Be my Stay Administradores</title>

    <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
    <link rel="stylesheet" th:href="@{/css/imovelDescricao.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>

<body>


<main>
    <div class="topo">
        <div class="titulo_topo">
            <h1 th:text="${imovel.titulo}"></h1>
        </div>
        <div class="info_topo">
            <p
                    th:text="${imovel.endereco != null ? imovel.endereco.cidade + ', ' + imovel.endereco.estado : 'Local não informado'}">
            </p>
        </div>
    </div>

    <div class="fotos">
        <div class="galeria">
            <img th:each="img : ${imovel.imagens}" th:src="@{/uploads/{arquivo}(arquivo=${img.caminho})}"
                 alt="Imagem do imóvel">
        </div>

    </div>
    <p class="titulo" th:text="${imovel.titulo}"></p>
    <div class="descricao">

        <p th:text="${imovel.qtdHospede == 1
    ? '1 hóspede • ' + imovel.qtdBanheiros + ' banheiros'
    : imovel.qtdHospede + ' hóspedes • ' + imovel.qtdBanheiros + ' banheiros'}">
        </p>


        <p th:text="${imovel.descricaoCompleta}" ></p>

    </div>
    <p class="titulo"> O que esse lugar oferece </p>
    <div class="lista">
        <label th:each="c : ${comodidades}">
            <img th:src="@{/uploads/{img}(img=${c.icone})}" alt="Ícone" width="40">
            <span th:text="${c.nome}"></span>
        </label>
    </div>
    <div>
        <form th:action="@{/usuarios/reservar/{id}(id=${imovel.id})}" method="post">

            <div class="card_reserva">
                <div class="card_conteudo">

                    <label>Check-in</label>
                    <p th:text="${ 'R$' + imovel.precoDiaria + ' /Diária'}"></p>
                    <input type="date" name="checkin" id="checkin" th:attr="min=${imovel.disponibilidadeInicio},
                    max=${imovel.disponibilidadeFim}" required>

                    <label>Check-out</label>
                    <input type="date" name="checkout" id="checkout" th:attr="min=${imovel.disponibilidadeInicio},
                    max=${imovel.disponibilidadeFim}" required>

                    <label>Hóspedes</label>
                    <input type="number" name="qtdHospede" th:attr="max=${imovel.qtdHospede}, min=1" required>

                    <button type="submit">Reservar</button>

                </div>
            </div>
        </form>


    </div>

    <script th:inline="javascript">
        const datasBloqueadas = /*[[${datasBloqueadas}]]*/[];

        function bloquearDatas(input) {
            input.addEventListener("input", () => {
                if (datasBloqueadas.includes(input.value)) {
                    alert("Data Indisponível");
                    input.value = "";
                }
            });
        }

        bloquearDatas(document.getElementById("checkin"));
        bloquearDatas(document.getElementById("checkout"));
    </script>



</main>
</body>

</html>