<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio | Be my Stay </title>

  <link rel="icon" type="image/png" th:href="@{/assets/Logo.png}">
  <link rel="stylesheet" th:href="@{/css/redirecionamento.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="conteudo">
  <header>
    <div class="esquerdo" id="menuToggle">

      <img th:src="@{/assets/logo.png}" class="logo">
      <span>Be my stay</span>

    </div>

    <div class="direito">

      <a class="perfil" href="">
        <Button><img th:src="@{/assets/avatar.png}">Sua Conta</Button>
      </a>
    </div>
  </header>


</div>

<main>
  <form th:action="@{/imovel/listarAnfitriao}" method="get">
    <div class="main_conteudo">
      <h1>Postado com Sucesso!</h1>
      <p>Parabéns, seu imóvel foi postado, e já esta disponível para reservas</p>
      <p>clique aqui para ser direcionado a página principal</p>
      <button type="submit" >Redirecione</button>
    </div>
  </form>
</main>
</body>

</html>